<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dyly.bloomu.edu.gardenplannerapp" >
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="Garden Planner" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BUOCActivity"
            android:label="BUOC" />
        <activity
            android:name=".AboutAppActivity"
            android:label="About Application" />
        <activity
            android:name=".SupportActivity"
            android:label="Support" />
        <activity
            android:name=".GardenNotesActivity"
            android:label="Garden Notes" />
        <activity
            android:name=".BedOptionsActivity"
            android:label="@string/title_activity_bed_options" >
        </activity>
        <activity
            android:name=".BedLayoutActivity"
            android:label="@string/title_activity_bed_layout" >
        </activity>
        <activity
            android:name=".BedHistoryActivity"
            android:label="@string/title_activity_bed_history" >
        </activity>
        <activity
            android:name=".BedNotesActivity"
            android:label="@string/title_activity_bed_notes_actvity" >
        </activity>
        <activity
            android:name=".BedImagesActivity"
            android:label="@string/title_activity_bed_images" >
        </activity>
        <activity
            android:name=".AddNewNoteActivity"
            android:label="@string/title_activity_add_new_note" >
        </activity>
        <activity
            android:name=".AddNewImageActivity"
            android:label="@string/title_activity_add_new_image" >
        </activity>
    </application>

</manifest>
